@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  font-family: "Roboto", system-ui;
  font-style: normal;
}

.arrow-icon {
  cursor: pointer;
}

.inactive {
  cursor: not-allowed;
}










